body{
    background-color: #111111;
    color: #DDDDDD;
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}
.stage{

}

.square{
    width: 100px;
    height: 100px;
    background-color: #AAAAAA;
    border: 1px solid gray;
    display: inline-block;
}
